md-toolbar {
  background: #fdfdfd;
  box-shadow: 0 -2.25px 12px;
  position: relative;
  z-index: 2;
  padding-left: 12px;
}

md-sidenav-container {
  height: calc(100vh - 64px);
}

md-sidenav {
  width: 250px;
  box-shadow: -3px 0 20px;
}

#nav-button {
  margin-right: 5px;
}

#nav-icon {
  margin-top: -3px;
}

#main-content {
  padding: 25px;
}
