<!-- Top nav bar -->
<md-toolbar>
  <button id="nav-button" md-icon-button (click)="sidenav.toggle()"><md-icon id="nav-icon" svgIcon="menu"></md-icon></button>
  <span>Fishdoc</span>
</md-toolbar>

<!-- Main container -->
<md-sidenav-container>
  <!-- Side navigation -->
  <md-sidenav #sidenav mode="side" opened="true">


    <md-expansion-panel>
      <md-expansion-panel-header>
        <md-panel-title>
          Catégorie 1
        </md-panel-title>
      </md-expansion-panel-header>

      BOUH
    </md-expansion-panel>

    <md-expansion-panel>
      <md-expansion-panel-header>
        <md-panel-title>
          Catégorie 2
        </md-panel-title>
      </md-expansion-panel-header>

      :delta:
    </md-expansion-panel>

    <md-expansion-panel>
      <md-expansion-panel-header>
        <md-panel-title>
          Catégorie 3
        </md-panel-title>
      </md-expansion-panel-header>

      Je possède le swag :3
    </md-expansion-panel>
  </md-sidenav>

  <div id="main-content">
    <!-- Main content -->
    Je suis le contenu principal
    <router-outlet>
    </router-outlet>
  </div>
</md-sidenav-container>
