<!-- Top nav bar -->
<md-toolbar>
  <button id="nav-button" md-icon-button (click)="sidenav.toggle()"><md-icon id="nav-icon" svgIcon="menu"></md-icon></button>
  <span>Fishdoc</span>
</md-toolbar>

<!-- Main container -->
<md-sidenav-container>
  <!-- Side navigation -->
  <md-sidenav #sidenav mode="side" opened="true">
    <p>
      Je suis le côté
    </p>
  </md-sidenav>

  <div id="main-content">
    <!-- Main content -->
    Je suis le contenu principal
    <router-outlet>
    </router-outlet>
  </div>
</md-sidenav-container>
